In [ ]:
# this notebook contains code for various experimental graph algorithms. The Graph Data Science Library needs to be installed in Neo4j

In [1]:
from neo4j import GraphDatabase

In [2]:
import pandas as pd

In [3]:
uri = "bolt://localhost:7687"
user = "neo4j"
password = "password"

In [4]:
driver = GraphDatabase.driver(uri, auth=(user, password))

In [14]:
session = driver.session()

In [15]:
# find phones that have similar contacts
session.run('''
MATCH (source:Identifier)
OPTIONAL MATCH (source)-[r:CONTACT]->(target:Identifier)
RETURN gds.graph.project(
  'myGraph3',
  source,
  target
)''')

In [16]:
result = session.run('''
CALL gds.nodeSimilarity.stream('myGraph3', { degreeCutoff: 3 })
YIELD node1, node2, similarity
RETURN gds.util.asNode(node1).identifier AS Identifier1, gds.util.asNode(node2).identifier AS Identifier2, similarity
ORDER BY similarity DESCENDING, Identifier1, Identifier2''')

In [17]:
df1 = pd.DataFrame(result.data())

In [18]:
df1.head()

   Identifier1  Identifier2  similarity
0  80711433783  80760992565    0.333333
1  80715294468  80758119448    0.333333
2  80758119448  80715294468    0.333333
3  80760992565  80711433783    0.333333
4  80707338918  80784630103    0.250000